{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block extra_title %}Iron Queens | Sign In {% endblock %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

<!-- Sign In Section -->
<section class="auth-container">
    <div class="auth-box">
        <h2 class="logo-font mb-4 text-center">{% trans "Sign In" %}</h2>
        <hr class="divider">

        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
            <p class="text-center">
                {% blocktrans with site.name as site_name %}
                    Please sign in with one of your existing third-party accounts. Or, <a href="{{ signup_url }}">sign up</a> for a {{ site_name }} account and sign in below:
                {% endblocktrans %}
            </p>

            <!-- Social Account Providers -->
            <div class="social-login-container">
                <ul class="socialaccount_providers">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </ul>
                <div class="login-or">{% trans 'or' %}</div>
            </div>

        {% else %}
            <p class="text-center">
                {% blocktrans %}
                    If you haven't created an account yet, please <a href="{{ signup_url }}">sign up</a> first.
                {% endblocktrans %}
            </p>
        {% endif %}

        <!-- Login Form -->
        <form class="login-form" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="form-container">
                {{ form.as_p }}

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <a class="btn btn-outline-dark border-gold rounded-0" href="{% url 'home' %}">Home</a>
                <button class="btn btn-primary action-btn" type="submit">{% trans "Sign In" %}</button>
            </div>
        </form>

        <!-- Forgot Password Link -->
        <div class="text-center mt-3">
            <p>
                <a class="btn btn-link secondary-action" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </p>
        </div>
    </div>
</section>

{% endblock %}