{% extends "account/base_entrance.html" %}
{% load allauth i18n %}

{% block head_title %}
    {% trans "Sign Up" %}
{% endblock head_title %}

{% block content %}
    <div class="auth-container">
        <div class="auth-box">
            <h2 class="logo-font mb-4 text-center">{% trans "Sign Up" %}</h2>
            <hr class="divider">

            {% setvar link %}
                <a href="{{ login_url }}">
            {% endsetvar %}
            {% setvar end_link %}
            </a>
            {% endsetvar %}

            <p class="text-center">
                {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
            </p>

            {% if not SOCIALACCOUNT_ONLY %}
                {% url 'account_signup' as action_url %}
                <form method="post" action="{{ action_url }}">
                    {% csrf_token %}
                    <div class="form-container">
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    <div class="error">{{ field.errors }}</div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">
                            {% trans "Sign Up" %}
                        </button>
                    </div>
                </form>
            {% endif %}

            {% if PASSKEY_SIGNUP_ENABLED %}
                <hr>
                <button class="btn btn-outline-primary">
                    {% trans "Sign up using a passkey" %}
                </button>
            {% endif %}

            {% if SOCIALACCOUNT_ENABLED %}
                <div class="social-login-container">
                    <p>{% trans "Or sign up using your social account" %}</p>
                    {% include "socialaccount/snippets/login.html" %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
