{% extends "base.html" %}
{% load static %}

{% block extra_corecss %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link href="{% static 'checkout/css/checkout.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container">
    <h2>Order Summary</h2>
    <p>Thank you for your order! Your order has been successfully placed.</p>
    
    <h3>Order Number: {{ order.order_number }}</h3>
    <p>Email: {{ order.email }}</p>
    <p>Date: {{ order.date }}</p>
    
    <h4>Shipping Address:</h4>
    <p>{{ order.full_name }}<br>
       {{ order.street_address1 }}<br>
       {% if order.street_address2 %}{{ order.street_address2 }}<br>{% endif %}
       {{ order.town_or_city }}<br>
       {{ order.county }}<br>
       {{ order.postcode }}<br>
       {{ order.country }}</p>
    
    <h4>Items in Your Order:</h4>

    <ul>
        {% for line_item in order.lineitems.all %}
        <li>  {{ line_item.product.name}} - {{ line_item.quantity }} x ${{ line_item.product.price }} = ${{ line_item.lineitem_total }}<li>
        {% endfor %}
        </ul>
      
    
    <h4>Order Totals:</h4>
    <p>Subtotal: ${{ order.order_total }}</p>
    <p>Delivery: ${{ order.delivery_cost }}</p>
    <p><strong>Total: ${{ order.grand_total }}</strong></p>
    <div class="row">
			<div class="col-12 col-lg-7 text-right">
                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span class="text-uppercase">Back to Profile</span>
                    </a>
                {% else %}
                    <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-gifts"></i>
                        </span>
                        <span class="text-uppercase">Now check out the latest deals!</span>
                    </a>
                {% endif %}
			</div>
		</div>

    <p>You will receive an email confirmation shortly. Thank you for shopping with us!</p>
    
    <!-- Continue Shopping Button -->
    <a href="{% url 'products' %}" class="btn btn-primary">Continue Shopping</a>
  </div>
{% endblock %}

