<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="queensPicksDropdown" role="button" 
               data-bs-toggle="dropdown" aria-expanded="false">
                Queens' Picks
            </a>
            <ul class="dropdown-menu" aria-labelledby="queensPicksDropdown">
                <li><a class="dropdown-item" href={% url "products" %}>All Products</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=Gym%20Tank%20Tops%20and%20T-Shirts{% if selected_sort %}&sort={{ selected_sort }}{% endif %}">Tops</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=Gym%20Bottle{% if selected_sort %}&sort={{ selected_sort }}{% endif %}">Water Bottles and Shakers</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=Gym%20Bags{% if selected_sort %}&sort={{ selected_sort }}{% endif %}">Bags</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=Gym%20Equipment{% if selected_sort %}&sort={{ selected_sort }}{% endif %}">Equipment</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=Protein%20Bars">Protein Bars</a></li>
            </ul>
        </li>
    </ul>
</div>